[submodule "SDL-Hpp"]
	path = SDL-Hpp
	url = git@github.com:dirkz/SDL-Hpp.git
[submodule "DirectXMath"]
	path = DirectXMath
	url = git@github.com:microsoft/DirectXMath.git
[submodule "glm"]
	path = glm
	url = git@github.com:g-truc/glm.git
